@font-face{
    font-family: sans;
    src: url(GmarketSansTTFLight.ttf);
}
.infobox{
    font-family: sans;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.one{
    font-family: sans;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 200px;
    height: 100px;
}
.select{
    font-family: sans;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gender{
    font-family: sans;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}