{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{% static 'style.css' %}?after">
    <title>Document</title>
</head>
<body>
    <div class="select">
        <h1>성별을 선택해주세요!</h1>
        <div class="gender">
            <a href="main.html"><img src = "static/여자.png" style="width: 120px;"></a>
            <a href="main_man.html"><img src = "static/남자.png" style="width: 120px;"></a>
        </div>
        
    </div>
    
</body>
</html>